/*
  ========================================
  Clearfix
  ========================================
*/

/* .group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
} */


/*
  ========================================
  Primary header
  ========================================
*/

/* .logo {
  float: left;
}
.tagline {
  text-align: right;
}
.primary-nav {
  text-align: right;
} */

/*
  ========================================
  Links
  ========================================
*/


/*
  ========================================
  Typography
  ========================================
*/
/* a {
  text-align: center;
} */
/*
  ========================================
  Primary footer
  ========================================
*/
